.navigation-bar {
    background-color: $color-primary;
    height: 150px;
}

.btn-navigation-bar {
    border: none;
    border-radius: 5px;
    width: 90px;
    color: $color-secondary;
    background-color: $color-background-btn-navbar;
}

.navigation-bar ul {
    list-style: none;
}

.enabled {
    color: $color-enabled
}

