.page-link:hover {
  background-color: $color-primary;
  color: $color-page-link;
}

/* Estilos para botones activos */
.page-link:active {
  border-color: transparent;
  background-color: $color-primary;
  color: $color-page-link;
}
