.sidebar {
  background-color: $color-background-sidebar; //Cambiar esto por una variable de color (secondary)
  width: 230px;
  height: 100vh;
  color: $color-primary;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.title-container {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  margin: 0;
}

.side-options {
  color: $color-primary;
  
  ul {
    list-style: none;

    li {
      color: $text-color-sidebar;

      a {
        text-decoration: none;
        color: $text-color-sidebar;
      };

    }
  }
}

.container-option {
  div {
    width: 30px;
    color: $color-primary;
  }

}

.asd {
  width: 50px;
}

#collapse-btn {
  background-color: white;
  border: none;
}

#collapse-icon {
  color: $color-secondary
}