$color-primary: rgb(246, 55, 93);
$color-secondary: #5E72E4;
$color-background: whitesmoke;
$text-color: whitesmoke;
$text-color-sidebar: rgba(0, 0, 0, 0.6);
$color-background-btn-navbar: white;
$color-background-sidebar: white;
$color-background-table: white;
$color-enabled: rgba(245, 245, 245, 0.597);
$color-page-link: #fff;